{%- for item in apache["upstream-url"] %}
{%- set itempathtrimmed = item.path | trim("/") -%}
{%- set itempathescaped = item.path | replace("/", "_") | upper -%}

# Setup proxy subpath for {{ item.path }}
RewriteRule ^ - [E=_PROXY_SUBPATH_{{ itempathescaped }}:,NE]
{%- if item.path == "/" %}
RewriteCond %{REQUEST_URI} ^(/)(.*)$ [NC]
{%- elif item.path.endswith("/") %}
RewriteCond %{REQUEST_URI} ^(/){{ itempathtrimmed }}(?:/(.*))?$ [NC]
{%- else %}
RewriteCond %{REQUEST_URI} ^/{{ itempathtrimmed }}(.{0})(.{0})$ [NC]
{%- endif %}
RewriteRule ^ - [E=_PROXY_SUBPATH_{{ itempathescaped }}:%1%2,NE]

# Proxy regular requests upstream for {{ item.path }}
RewriteCond %{HTTP:Connection} !upgrade [NC]
RewriteCond %{HTTP:Upgrade} !websocket [NC]
RewriteCond %{REQUEST_URI} !^/\.apache(?:/.*)?$ [NC]
{%- if item.path == "/" %}
RewriteCond %{REQUEST_URI} ^/.*$ [NC]
{%- elif item.path.endswith("/") %}
RewriteCond %{REQUEST_URI} ^/{{ itempathtrimmed }}(?:/.*)?$ [NC]
{%- else %}
RewriteCond %{REQUEST_URI} ^/{{ itempathtrimmed }}$ [NC]
{%- endif %}
RewriteRule ^ "{{ item.target }}%{ENV:_PROXY_SUBPATH_{{ itempathescaped }}}" [P,L]

# Proxy WebSockets requests upstream for {{ item.path }}
RewriteCond %{HTTP:Connection} upgrade [NC]
RewriteCond %{HTTP:Upgrade} websocket [NC]
RewriteCond %{REQUEST_URI} !^/\.apache(?:/.*)?$ [NC]
{%- if item.path == "/" %}
RewriteCond %{REQUEST_URI} ^/.*$ [NC]
{%- elif item.path.endswith("/") %}
RewriteCond %{REQUEST_URI} ^/{{ itempathtrimmed }}(?:/.*)?$ [NC]
{%- else %}
RewriteCond %{REQUEST_URI} ^/{{ itempathtrimmed }}$ [NC]
{%- endif %}
RewriteRule ^ "{{ item.target | replace("https://", "wss://") | replace("http://", "ws://") }}%{ENV:_PROXY_SUBPATH_{{ itempathescaped }}}" [P,L]

{% endfor -%}
