version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: "01:00"
      timezone: Europe/Bratislava
    reviewers:
      - matejkosiarcik
    assignees:
      - matejkosiarcik
    open-pull-requests-limit: 1
    groups:
      github-actions:
        patterns:
          - "*"

  # Docker
  - package-ecosystem: docker
    directories:
      - /docker-images/custom/apache
      - /docker-images/custom/certbot
      - /docker-images/custom/certificator
      - /docker-images/custom/docker-build
      - /docker-images/custom/docker-setup
      - /docker-images/custom/web-automation
      - /docker-images/database/mongodb
      - /docker-images/external/actualbudget
      - /docker-images/external/changedetection
      - /docker-images/external/docker-registry
      - /docker-images/external/dozzle
      - /docker-images/external/gatus
      - /docker-images/external/glances
      - /docker-images/external/gotify
      - /docker-images/external/healthchecks
      - /docker-images/external/homeassistant
      - /docker-images/external/homepage
      - /docker-images/external/jellyfin
      - /docker-images/external/minio-client
      - /docker-images/external/minio-server
      - /docker-images/external/motioneye
      - /docker-images/external/netalertx
      - /docker-images/external/ntfy
      - /docker-images/external/omada-controller
      - /docker-images/external/pihole
      - /docker-images/external/prometheus
      - /docker-images/external/renovatebot
      - /docker-images/external/samba
      - /docker-images/external/smtp4dev
      - /docker-images/external/speedtest-tracker
      - /docker-images/external/tvheadend
      - /docker-images/external/unifi-network-application
      - /docker-images/external/vikunja
      - /other-apps/desklamp-left
      - /other-apps/desklamp-right
    schedule:
      interval: daily
      time: "02:15"
      timezone: Europe/Bratislava
    reviewers:
      - matejkosiarcik
    assignees:
      - matejkosiarcik
    open-pull-requests-limit: 1
    groups:
      docker:
        patterns:
          - "*"

  # NPM
  - package-ecosystem: npm
    directories:
      - /docker-images/.shared/dependencies/zopflipng
      - /docker-images/custom/lamp-wrapper
      - /docker-images/custom/web-automation
      - /docker-images/external/homepage
      - /docs/diagrams
      - /icons
    versioning-strategy: increase
    schedule:
      interval: daily
      time: "02:30"
      timezone: Europe/Bratislava
    reviewers:
      - matejkosiarcik
    assignees:
      - matejkosiarcik
    open-pull-requests-limit: 1
    groups:
      npm:
        patterns:
          - "*"

  # Pip
  - package-ecosystem: pip
    directories:
      - /ansible
      - /docker-images/.shared/dependencies/gitman
      - /docker-images/.shared/dependencies/jinja
      - /docker-images/.shared/dependencies/yq
      - /docker-images/external/homeassistant
      - /icons
    schedule:
      interval: daily
      time: "02:45"
      timezone: Europe/Bratislava
    reviewers:
      - matejkosiarcik
    assignees:
      - matejkosiarcik
    open-pull-requests-limit: 1
    groups:
      pip:
        patterns:
          - "*"

  # Cargo
  - package-ecosystem: cargo
    directories:
      - /docker-images/.shared/dependencies/oxipng
    schedule:
      interval: daily
      time: "03:00"
      timezone: Europe/Bratislava
    reviewers:
      - matejkosiarcik
    assignees:
      - matejkosiarcik
    open-pull-requests-limit: 1
    groups:
      cargo:
        patterns:
          - "*"
