# For testing services
.env
app-data/
app-logs/
app-secrets/
.errors/
.export/
.backup/

# For deployment
/servers/.current
/.deployment/

# OS stuff
._*
.DS_Store
[Dd]esktop.ini
*~
Thumbs.db

# editors
.idea/
.vscode/
*.sublime-*
*.vim
Package Control.*

# dependencies
.mypy_cache/
*Brewfile.lock.json
build/
dist/
gitman-repositories/
node_modules/
python-vendor/
venv/
