# For testing services
.env
app-data/
app-data-*/
app-logs/
app-logs-*/
app-secrets/
app-secrets-*/
.errors/
.export/
.backup/
tmp/
test-report/

# For deployment
/servers/.current
/.deployment/

# OS stuff
._*
.DS_Store
[Dd]esktop.ini
*~
Thumbs.db

# Editors:
# JetBrains
.idea/
# VSCode
.vscode/
# Vim
*.vim
# Sublime Text
*.sublime-*
Package Control.*
# DrawIO
*.bkp

# dependencies
.mypy_cache/
*Brewfile.lock.json
build/
dist/
gitman-repositories/
node_modules/
python-vendor/
venv/
