GATUS_2_PROMETHEUS_PASSWORD=
GATUS_2_PROXY_STATUS_PASSWORD=
GATUS_PROMETHEUS_PASSWORD=
GATUS_PROXY_STATUS_PASSWORD=
OMADA_CONTROLLER_PASSWORD=
PIHOLE_1_PRIMARY_PASSWORD=
PIHOLE_1_PRIMARY_PROXY_STATUS_PASSWORD=
PIHOLE_1_SECONDARY_PASSWORD=
PIHOLE_1_SECONDARY_PROXY_STATUS_PASSWORD=
PIHOLE_2_PRIMARY_PASSWORD=
PIHOLE_2_PRIMARY_PROXY_STATUS_PASSWORD=
PIHOLE_2_SECONDARY_PASSWORD=
PIHOLE_2_SECONDARY_PROXY_STATUS_PASSWORD=
UNIFI_CONTROLLER_PASSWORD=
