x-definitions:
  common-service-options: &common-service-options
    restart: "no"

services:
  app:
    <<: *common-service-options
    environment:
      REGISTRY_HTTP_HOST: ${DOCKER_COMPOSE_NETWORK_URL}

  redis:
    <<: *common-service-options
    ports:
      - 127.0.0.1:6379:6379
    networks:
      internal-network: {}
      external-network: {}

  certificator:
    <<: *common-service-options

  apache:
    <<: *common-service-options
    ports:
      - 127.0.0.1:8080:80
      - 127.0.0.1:8443:443

  apache-prometheus-exporter:
    <<: *common-service-options

  favicons:
    <<: *common-service-options
