- Network:
    - UPC Router:
        description: Unknown brand
        href: http://192.168.0.1
        ping: "192.168.0.1"
        icon: /icons/upc.png

    - Main Router:
        description: TP-Link ER605
        href: https://10.1.0.1
        ping: "10.1.0.1"
        icon: /icons/router.png

    - Wifi AP:
        description: Unifi U6 Mesh
        href: ""
        ping: "10.1.0.2"
        icon: /icons/wifi-ap.png

    - Smart Switch 8-port:
        description: TP-Link SG108E
        href: http://10.1.0.3
        ping: "10.1.0.3"
        icon: /icons/switch.png

    - Smart Switch 5-port:
        description: TP-Link SG105E
        href: http://10.1.0.4
        ping: "10.1.0.4"
        icon: /icons/switch.png

    - Unifi Controller:
        description: SDN manager
        href: https://unifi-controller.home
        ping: unifi-controller.home
        icon: /icons/unifi.png
        widget:
          type: unifi
          url: https://unifi-controller.home
          username: homepage
          password: "{{HOMEPAGE_VAR_UNIFI_CONTROLLER_PASSWORD}}"

    - Omada Controller:
        description: SDN manager
        href: https://omada-controller.home
        ping: omada-controller.home
        icon: /icons/tp-link-omada.png
        widget:
          type: omada
          url: https://omada-controller.home
          username: homepage
          password: "{{HOMEPAGE_VAR_OMADA_CONTROLLER_PASSWORD}}"
          site: Home

- Servers:
    - Odroid H3:
        description: App server
        href: javascript:copyUrl('ssh matej@10.1.4.8')
        ping: "10.1.4.8"
        icon: /icons/odroid.png
        target: _self

    - Raspberry Pi 3B:
        description: App server
        href: javascript:copyUrl('ssh matej@10.1.4.2')
        ping: "10.1.4.2"
        icon: /icons/raspberry-pi.png
        target: _self

    - Raspberry Pi 4B 2G:
        description: App server
        href: javascript:copyUrl('ssh matej@10.1.4.3')
        ping: "10.1.4.3"
        icon: /icons/raspberry-pi.png
        target: _self

    - Raspberry Pi 4B 4G:
        description: App server
        href: javascript:copyUrl('ssh matej@10.1.4.4')
        ping: "10.1.4.4"
        icon: /icons/raspberry-pi.png
        target: _self

    - MacBook Pro 2012:
        description: NAS
        href: javascript:copyUrl('ssh matej@10.1.4.1')
        ping: "10.1.4.1"
        icon: /icons/apple.png
        target: _self

    # Disable for indeterminate time
    # - Raspberry Pi Zero 2W 1:
    #     description: IoT device
    #     href: javascript:copyUrl('ssh matej@10.1.4.6')
    #     ping: "10.1.4.6"
    #     icon: /icons/raspberry-pi.png
    #     target: _self

    # - Raspberry Pi Zero 2W 2:
    #     description: IoT device
    #     href: javascript:copyUrl('ssh matej@10.1.4.7')
    #     ping: "10.1.4.7"
    #     icon: /icons/raspberry-pi.png
    #     target: _self

- DNS:
    - PiHole 1 Primary:
        description: DNS server with built-in adblocking
        href: https://pihole-1-primary.home
        ping: pihole-1-primary.home
        icon: /icons/pihole.png
        widget:
          type: pihole
          url: https://pihole-1-primary.home
          version: 5
          key: "{{HOMEPAGE_VAR_PIHOLE_1_PRIMARY_APIKEY}}"

    - PiHole 1 Secondary:
        description: DNS server with built-in adblocking
        href: https://pihole-1-secondary.home
        ping: pihole-1-secondary.home
        icon: /icons/pihole.png
        widget:
          type: pihole
          url: https://pihole-1-secondary.home
          version: 5
          key: "{{HOMEPAGE_VAR_PIHOLE_1_SECONDARY_APIKEY}}"

    - PiHole 2 Primary:
        description: DNS server with built-in adblocking
        href: https://pihole-2-primary.home
        ping: pihole-2-primary.home
        icon: /icons/pihole.png
        widget:
          type: pihole
          url: https://pihole-2-primary.home
          version: 5
          key: "{{HOMEPAGE_VAR_PIHOLE_2_PRIMARY_APIKEY}}"

    - PiHole 2 Secondary:
        description: DNS server with built-in adblocking
        href: https://pihole-2-secondary.home
        ping: pihole-2-secondary.home
        icon: /icons/pihole.png
        widget:
          type: pihole
          url: https://pihole-2-secondary.home
          version: 5
          key: "{{HOMEPAGE_VAR_PIHOLE_2_SECONDARY_APIKEY}}"

- Smart Home:
    - Home Assistant:
        description: Smart Home system
        href: https://homeassistant.home
        ping: homeassistant.home
        icon: /icons/homeassistant.png
        widget:
          type: homeassistant
          url: https://homeassistant.home
          key: "{{HOMEPAGE_VAR_HOMEASSISTANT_APIKEY}}"
          custom:
            - template: "{{ states.light|selectattr('state','equalto','on')|list|length }}"
              label: Turned on lights

    - MotionEye Stove:
        description: Camera system
        href: https://motioneye-stove.home
        ping: motioneye-stove.home
        icon: /icons/motioneye.png

    - Desklamp - left:
        description: Custom smart lamp
        href: http://desklamp-left.home
        ping: desklamp-left.home
        icon: /icons/lightbulb.png

    - Desklamp - right:
        description: Custom smart lamp
        href: http://desklamp-right.home
        ping: desklamp-right.home
        icon: /icons/lightbulb.png

- Media:
    - Jellyfin:
        description: Media server
        href: https://jellyfin.home
        ping: jellyfin.home
        icon: /icons/jellyfin.png
        widget:
          type: jellyfin
          url: https://jellyfin.home
          key: "{{HOMEPAGE_VAR_JELLYFIN_PASSWORD}}"
          enableBlocks: false
          enableNowPlaying: true
          enableUser: false
          showEpisodeNumber: false
          expandOneStreamToTwoRows: false

    - Tvheadend:
        description: Live TV
        href: https://tvheadend.home
        ping: tvheadend.home
        icon: /icons/tvheadend.png

- Monitoring:
    - Healthchecks:
        description: Cron monitoring system
        href: https://healthchecks.home
        ping: healthchecks.home
        icon: /icons/healthchecks.png
        widget:
          type: healthchecks
          url: https://healthchecks.home
          key: "{{HOMEPAGE_VAR_HEALTHCHECKS_APIKEY}}"

    - Gatus:
        description: Uptime monitoring system
        href: https://gatus-1.home
        ping: gatus-1.home
        icon: /icons/gatus.png
        widget:
          type: gatus
          url: https://gatus-1.home
          username: admin
          password: "{{HOMEPAGE_VAR_GATUS_PASSWORD}}"

    - Gatus 2:
        description: Uptime monitoring system
        href: https://gatus-2.home
        ping: gatus-2.home
        icon: /icons/gatus.png
        widget:
          type: gatus
          url: https://gatus-2.home
          username: admin
          password: "{{HOMEPAGE_VAR_GATUS_2_PASSWORD}}"

    - Prometheus:
        description: Prometheus
        href: https://prometheus.home
        ping: prometheus.home
        icon: /icons/prometheus.png
        widget:
          type: prometheus
          url: https://prometheus.home

    - Dozzle:
        description: Docker monitoring
        href: https://dozzle.home
        ping: dozzle.home
        icon: /icons/dozzle.png

    - SpeedTest Tracker:
        description: Internet speed monitoring system
        href: https://speedtest-tracker.home
        ping: speedtest-tracker.home
        icon: /icons/speedtest.png
        widget:
          type: speedtest
          url: https://speedtest-tracker.home
          bitratePrecision: 1

    - Changedetection:
        description: Website change monitoring system
        href: https://changedetection.home
        ping: changedetection.home
        icon: /icons/changedetection.png
        widget:
          type: changedetectionio
          url: https://changedetection.home
          key: "{{HOMEPAGE_VAR_CHANGEDETECTION_APIKEY}}"

    - NetAlertX:
        description: Network monitoring
        href: https://netalertx.home
        ping: netalertx.home
        icon: /icons/netalertx.png
        widget:
          type: netalertx
          url: https://netalertx.home
          key: "{{HOMEPAGE_VAR_NETALERTX_APIKEY}}"

- Other Apps:
    - Homepage:
        description: Dashboard
        href: https://homepage.home
        ping: homepage.home
        icon: /icons/homepage.png

    - ActualBudget:
        description: Finance manager
        href: https://actualbudget.home
        ping: actualbudget.home
        icon: /icons/actualbudget.png

    - ActualBudget (Public):
        description: Finance manager
        href: https://actualbudget-public.home
        ping: actualbudget-public.home
        icon: /icons/actualbudget.png

    - Dockerhub proxy:
        description: Dockerhub transparent caching proxy
        href: https://dockerhub-cache-proxy.home
        ping: dockerhub-cache-proxy.home
        icon: /icons/docker.png

    - Smtp4dev:
        description: Simple email server
        href: https://smtp4dev.home
        ping: smtp4dev.home
        icon: /icons/smtp4dev.png

    - Minio:
        description: S3 compatible storage
        href: https://minio-console.home
        ping: minio-console.home
        icon: /icons/minio.png

    - Ntfy:
        description: Notifications
        href: https://ntfy.home
        ping: ntfy.home
        icon: /icons/ntfy.png

    - OpenSpeedTest (HTTP):
        description: LAN speedtest
        href: https://openspeedtest.home
        ping: openspeedtest.home
        icon: /icons/openspeedtest.png

    - OpenSpeedTest (HTTPS):
        description: LAN speedtest
        href: http://openspeedtest.home
        ping: openspeedtest.home
        icon: /icons/openspeedtest.png

    - Vaultwarden:
        description: Password manager
        href: https://vaultwarden.home
        ping: vaultwarden.home
        icon: /icons/vaultwarden.png

    - Vikunja:
        description: ToDo app
        href: https://vikunja.home
        ping: vikunja.home
        icon: /icons/vikunja.png
        widget:
          type: vikunja
          url: https://vikunja.home
          key: "{{HOMEPAGE_VAR_VIKUNJA_APIKEY}}"
          enableTaskList: true

- Resources:
    - Glances Odroid H3:
        description: Resource monitoring
        href: https://glances-odroid-h3.home
        ping: glances-odroid-h3.home
        icon: /icons/glances.png

    - Glances Raspberry Pi 4B 4GB:
        description: Resource monitoring
        href: https://glances-raspberry-pi-4b-4g.home
        ping: glances-raspberry-pi-4b-4g.home
        icon: /icons/glances.png

    - Glances Raspberry Pi 4B 2GB:
        description: Resource monitoring
        href: https://glances-raspberry-pi-4b-2g.home
        ping: glances-raspberry-pi-4b-2g.home
        icon: /icons/glances.png

    - Glances Raspberry Pi 3B:
        description: Resource monitoring
        href: https://glances-raspberry-pi-3b.home
        ping: glances-raspberry-pi-3b.home
        icon: /icons/glances.png
