global:
  scrape_interval: 600s

scrape_configs:
{%- for app in apps %}
{%- if app.prometheus.enabled -%}
{%- for endpoint in app.prometheus.endpoints -%}

{%- if endpoint.path == "/.apache/metrics" %}
  {%- set endpoint_name_suffix = "proxy" %}
{%- else %}
  {%- set endpoint_name_suffix = "app" %}
{%- endif %}

  - job_name: {{ app.full_name }}-{{ endpoint_name_suffix }}
    scheme: https
    metrics_path: {{ endpoint.path }}
    {%- if endpoint.auth.type == "basic" %}
    {%- if endpoint.path.startswith("/.apache/") %}
      {%- set endpoint_auth_default_user = "proxy-prometheus" %}
    {%- else %}
      {%- set endpoint_auth_default_user = "prometheus" %}
    {%- endif %}
    {%- set endpoint_auth_user = endpoint.auth.user or endpoint_auth_default_user %}
    basic_auth:
      username: {{ endpoint_auth_user }}
      password: ${{ "{" }}{{ app.full_name | replace("-", "_") | upper() }}__{{ endpoint_auth_user | replace("-", "_") | upper() }}_PASSWORD{{ "}" }}
    {%- elif endpoint.auth.type == "bearer" %}
    authorization:
      credentials: Bearer ${{ "{" }}{{ app.full_name | replace("-", "_") | upper() }}__PROMETHEUS_TOKEN{{ "}" }}
    {%- endif %}
    static_configs:
      - targets: [{{ app.domain }}]
{%- endfor %}
{%- endif %}
{%- endfor %}
