# This is a base config for docker-registry
# Some settings are left unspecified, you need to configure it with REGISTRY_* variables

version: 0.1

http:
  addr: 0.0.0.0:80
  # headers:
  #   X-Content-Type-Options: [nosniff]
  #   Access-Control-Allow-Origin: ['*']
  #   Access-Control-Allow-Credentials: [true]
  #   Access-Control-Allow-Headers: ['Accept', 'Authorization', 'Cache-Control']
  #   Access-Control-Allow-Methods: ['HEAD', 'GET', 'OPTIONS']
  #   Access-Control-Expose-Headers: ['Docker-Content-Digest']

proxy:
  ttl: 1h # TODO: Change to 1 week after debugging

# Authentication cannot be enabled, because it doesn't work when configuring this proxy as a mirror on the docker client side
# auth:
#   htpasswd:
#     realm: basic-realm
#     path: /example.htpasswd

redis:
  addrs: [redis:6379]
  db: 0
  password: ${REDIS_PASSWORD}
  dialtimeout: 250ms
  readtimeout: 250ms
  writetimeout: 250ms
  pool:
    maxidle: 16
    maxactive: 64
    idletimeout: 60s

storage:
  cache:
    blobdescriptor: redis
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true

delete:
  enabled: true

log:
  fields:
    service: docker-registry
  accesslog:
    disabled: true
  level: warn

health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
  tcp:
    - addr: redis:6379
      timeout: 2s
      interval: 15s
      threshold: 3
