- name: Setup OS
  hosts: servers
  tasks:
    - name: Ping
      ansible.builtin.ping:

      ## APT ##

    - name: Update APT index
      when: ansible_facts['system'] == 'Linux' and ansible_facts['os_family'] == 'Debian'
      become: true
      ansible.builtin.apt:
        update_cache: true

    - name: Install base APT packages
      register: apt_packages
      when: ansible_facts['system'] == 'Linux' and ansible_facts['os_family'] == 'Debian'
      become: true
      ansible.builtin.apt:
        pkg:
          - apache2-utils # Maybe remove this in the future
          - bash
          - build-essential
          - ca-certificates
          - cron
          - curl
          - dnsutils
          - firmware-linux-nonfree
          - git
          - jq
          - lm-sensors
          - locales
          - lshw
          - lsof
          - moreutils
          - openssh-server
          - openssl
          - psmisc
          - python-is-python3
          - python3
          - rfkill
          - rsync
          - smartmontools
          - unbound
          - wget

    - name: Install x64 APT packages
      when: ansible_facts['system'] == 'Linux' and ansible_facts['os_family'] == 'Debian' and ansible_facts['architecture'] == 'x86_64'
      become: true
      ansible.builtin.apt:
        pkg:
          - linux-headers-amd64

    - name: Install arm64 APT packages
      when: ansible_facts['system'] == 'Linux' and ansible_facts['os_family'] == 'Debian' and ansible_facts['architecture'] == 'aarch64'
      become: true
      ansible.builtin.apt:
        pkg:
          - linux-headers-arm64

    # Just a note, this can take a long time, especially on first run
    - name: Update APT packages
      when: ansible_facts['system'] == 'Linux' and ansible_facts['os_family'] == 'Debian'
      become: true
      ansible.builtin.apt:
        upgrade: true
        autoclean: true
        autoremove: true

    - name: Vacuum journal logs
      register: journactl_vacuum
      when: ansible_facts['system'] == 'Linux' and 'raspberry' in ansible_facts['hostname']
      changed_when: "'Deleted archived journal' in journactl_vacuum.stdout or journactl_vacuum.stdout | regex_search('Vacuuming done, freed [1-9]')"
      ansible.builtin.shell: |
        set -eufo pipefail
        if [ ! -e /var/log/journal ]; then
          exit 0
        fi
        sudo journalctl --vacuum-time=2d --vacuum-size=5M --rotate 2>&1

    - name: Stop unbound service
      register: stop_unbound
      when: ansible_facts['system'] == 'Linux' and ansible_facts['os_family'] == 'Debian'
      changed_when: "'CHANGED' in stop_unbound.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        status_before="$(sudo systemctl status unbound || true)"
        sudo systemctl stop unbound
        sudo systemctl disable unbound
        status_after="$(sudo systemctl status unbound || true)"
        if [ "$status_before" != "$status_after" ]; then
          printf 'CHANGED\n'
        fi

      ## Log2Ram ##

    - name: Install log2ram
      register: log2ram_install
      when: ansible_facts['system'] == 'Linux' and 'raspberry' in ansible_facts['hostname']
      changed_when: "'CHANGED' in log2ram_install.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if ! command -v log2ram >/dev/null 2>&1; then
          echo "deb [signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg] http://packages.azlux.fr/debian/ bookworm main" \
            | sudo tee /etc/apt/sources.list.d/azlux.list
          sudo curl https://azlux.fr/repo.gpg -o /usr/share/keyrings/azlux-archive-keyring.gpg
          sudo apt-get update
          sudo apt-get install --yes log2ram
          # Modify settings (disable email)
          sed 's~MAIL=true~MAIL=false~' </etc/log2ram.conf | sudo sponge /etc/log2ram.conf
          printf 'CHANGED\n'
        fi

    - name: Reboot
      when: log2ram_install.changed
      throttle: 1
      ansible.builtin.reboot:
        reboot_command: sudo reboot

    - name: Verify log2ram installation
      when: log2ram_install.changed
      changed_when: "False"
      ansible.builtin.shell: |
        set -eufo pipefail
        systemctl status log2ram | grep 'Active: active' >/dev/null 2>&1

    ## NodeJS ##

    - name: Install NodeJS
      register: install_nodejs
      when: ansible_facts['system'] == 'Linux' and ansible_facts['os_family'] == 'Debian'
      changed_when: "'CHANGED' in install_nodejs.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if command -v node >/dev/null 2>&1 && command -v npm >/dev/null 2>&1; then
          exit 0
        fi
        if [ -e nodesource_setup.sh ]; then
          rm -f nodesource_setup.sh
        fi
        curl -fsSL https://deb.nodesource.com/setup_lts.x -o nodesource_setup.sh
        sudo -E bash nodesource_setup.sh
        rm -f nodesource_setup.sh
        sudo apt-get install -y nodejs
        printf 'CHANGED\n'
        node --version
        npm --version

    - name: Ignore NodeJS warnings
      register: ignore_nodejs_warnings
      changed_when: "'CHANGED' in ignore_nodejs_warnings.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if [ ! -e "$HOME/.profile" ]; then
          touch "$HOME/.profile"
          printf 'CHANGED\n'
        fi
        if ! grep 'export NODE_NO_WARNINGS=1' <"$HOME/.profile" >/dev/null; then
          printf '\nexport NODE_NO_WARNINGS=1\n' >>"$HOME/.profile"
          printf 'CHANGED\n'
        fi
        if [ ! -e "$HOME/.bashrc" ]; then
          touch "$HOME/.bashrc"
          printf 'CHANGED\n'
        fi
        if ! grep 'export NODE_NO_WARNINGS=1' <"$HOME/.bashrc" >/dev/null; then
          printf '\nexport NODE_NO_WARNINGS=1\n' >>"$HOME/.bashrc"
          printf 'CHANGED\n'
        fi

    - name: Install Bitwarden CLI
      become: true
      community.general.npm:
        name: "@bitwarden/cli"
        global: true

    - name: Update NPM packages
      become: true
      community.general.npm:
        global: true
        state: latest

    - name: Configure Bitwarden CLI
      register: config_bitwarden_cli
      changed_when: "'CHANGED' in config_bitwarden_cli.stdout"
      ansible.builtin.shell: |
        # TODO: Switch to HTTPS after real Let\'s encrypt certificates
        set -eufo pipefail
        target='http://vaultwarden.home'
        if [ "$(bw config server)" = "$target" ]; then
          exit 0
        fi
        bw config server "$target"
        printf 'CHANGED\n'

    ## Docker ##

    - name: Install docker
      register: docker_install
      when: ansible_facts['system'] == 'Linux'
      changed_when: "'CHANGED' in docker_install.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if ! command -v docker >/dev/null 2>&1; then
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc
          echo "deb [arch=$(dpkg --print-architecture) \
            signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian \
            $(. /etc/os-release && echo "$VERSION_CODENAME") stable" \
            | sudo tee /etc/apt/sources.list.d/docker.list >/dev/null
          sudo apt-get update
          sudo apt-get install --yes docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
          # sudo groupadd docker # Already exists
          sudo usermod -aG docker "$(whoami)"
          printf 'CHANGED\n'
        fi

    # - name: Verify docker installation
    #   when: docker_install.changed
    #   changed_when: "False"
    #   ansible.builtin.shell: |
    #     set -eufo pipefail
    #     sudo docker run hello-world

    - name: Reboot
      when: ansible_facts['system'] == 'Linux' and docker_install.changed
      throttle: 1
      ansible.builtin.reboot:
        reboot_command: sudo reboot

    - name: Verify docker installation
      when: ansible_facts['system'] == 'Linux' and docker_install.changed
      changed_when: "False"
      ansible.builtin.shell: |
        set -eufo pipefail
        docker run hello-world

    - name: Start docker on startup
      register: docker_startup
      when: ansible_facts['system'] == 'Linux'
      changed_when: "'CHANGED' in docker_startup.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if ! sudo systemctl status docker.service >/dev/null 2>&1; then
          sudo systemctl enable docker.service
          printf 'CHANGED\n'
        fi
        if ! sudo systemctl status containerd.service >/dev/null 2>&1; then
          sudo systemctl enable containerd.service
          printf 'CHANGED\n'
        fi

    - name: Docker config
      when: ansible_facts['system'] == 'Linux'
      register: docker_config
      changed_when: "'CHANGED' in docker_config.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        new_config='{
          "log-driver": "local",
          "log-opts": {
            "max-size": "100m"
          },
          "insecure-registries": [
            "dockerhub-cache-proxy.home"
          ],
          "registry-mirrors": [
            "https://dockerhub-cache-proxy.home"
          ],
          "default-address-pools": [
            {
              "base" : "172.16.0.0/12",
              "size" : 26
            }
          ]
        }'
        before_sha="$(shasum /etc/docker/daemon.json || true)"
        printf '%s\n' "$new_config" | sudo tee '/etc/docker/daemon.json' >/dev/null
        after_sha="$(shasum /etc/docker/daemon.json)"
        if [ "$before_sha" != "$after_sha" ]; then
          printf 'CHANGED\n'
        fi

    - name: Restart docker
      when: ansible_facts['system'] == 'Linux' and docker_config.changed
      ansible.builtin.shell: |
        set -eufo pipefail
        sudo service docker restart

    - name: Throtlle docker service start
      register: docker_throttle
      become: true
      when: ansible_facts['system'] == 'Linux'
      changed_when: "'CHANGED' in docker_throttle.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if [ ! -d /etc/systemd/system/docker.service.d ]; then
          sudo mkdir /etc/systemd/system/docker.service.d
          printf 'CHANGED\n'
        fi
        before_sha="$(shasum /etc/systemd/system/docker.service.d/override.conf || true)"
        printf '[Service]\nExecStartPre=/bin/sleep 10\n' | sudo sponge /etc/systemd/system/docker.service.d/override.conf
        after_sha="$(shasum /etc/systemd/system/docker.service.d/override.conf)"
        if [ "$before_sha" != "$after_sha" ]; then
          printf 'CHANGED\n'
        fi

    ## Other ##

    - name: Configure sensors
      when: apt_packages.changed
      changed_when: "True"
      ansible.builtin.shell: |
        set -eufo pipefail
        (yes || true) | sudo sensors-detect

    - name: Setup locale
      register: setup_locale
      when: ansible_facts['system'] == 'Linux'
      changed_when: "'CHANGED' in setup_locale.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        sudo locale-gen en_US.UTF-8
        sudo localedef -i en_US -f UTF-8 en_US.UTF-8
        before_sha="$(shasum '/etc/default/locale')"
        printf 'LANGUAGE=en_US.UTF-8\nLC_ALL=en_US.UTF-8\nLANG=en_US.UTF-8\nLC_CTYPE=en_US.UTF-8\n' | sudo tee '/etc/default/locale' >/dev/null
        after_sha="$(shasum '/etc/default/locale')"
        if [ "$before_sha" != "$after_sha" ]; then
          printf 'CHANGED\n'
        fi

    - name: Reboot
      when: setup_locale.changed
      throttle: 1
      ansible.builtin.reboot:
        reboot_command: sudo reboot

    - name: Create cron log directory
      register: create_cron_log_dir
      changed_when: "'CHANGED' in create_cron_log_dir.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if [ ! -e "$HOME/.log" ]; then
          mkdir -p "$HOME/.log"
          printf 'CHANGED\n'
        fi

    ## Homelab repository ##

    - name: Git clone homelab
      register: git_clone_homelab
      changed_when: "'CHANGED' in git_clone_homelab.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if [ ! -e "$HOME/git/homelab" ]; then
          mkdir -p "$HOME/git"
          git clone https://github.com/matejkosiarcik/homelab.git "$HOME/git/homelab"
          printf 'CHANGED\n'
        fi

    - name: Setup current server symlink in homelab repository
      register: git_current_symlink
      changed_when: "'CHANGED' in git_current_symlink.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail
        if [ ! -e "$HOME/git/homelab/servers/.current" ]; then
          cd "$HOME/git/homelab/servers"
          ln -s "$(uname -n)" .current
          printf 'CHANGED\n'
        fi

    - name: Validate current server symlink in homelab repository
      changed_when: "False"
      ansible.builtin.shell: |
        set -eufo pipefail
        if [ ! -e "$HOME/git/homelab/servers/.current/main.sh" ]; then
          exit 1
        fi

    - name: Update homelab repository
      register: update_git_homelab
      changed_when: "'CHANGED' in update_git_homelab.stdout"
      ansible.builtin.shell: |
        set -eufo pipefail

        if [ -d "$HOME/git/homelab" ]; then
          cd "$HOME/git/homelab"
        else
          printf 'Directory ~/git/homelab not found\n'
          exit 1
        fi

        if [ "$(git branch --show-current)" != main ]; then
          git checkout main
          printf 'CHANGED\n'
        fi

        if [ "$(git status --short)" != '' ]; then
          git checkout .
          git clean -df
          printf 'CHANGED\n'
        fi

        if [ "$(git status --short)" != '' ]; then
          git checkout .
          git clean -df
          printf 'CHANGED\n'
        fi

        git fetch

        if [ "$(git diff --name-only origin/main)" != '' ]; then
          git pull --ff-only
          printf 'CHANGED\n'
        fi
