services:
  app:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: template_no_network
    container_name: ${DOCKER_COMPOSE_APP_NAME}-app
    build:
      dockerfile: ./external/unbound/Dockerfile
    volumes:
      - ./app-data/unbound-sock:/homelab/sock:rw
      - ./app-logs/unbound:/homelab/logs:rw
    tmpfs:
      - /run:rw,noexec,nodev,noatime,nodiratime,uid=${DOCKER_COMPOSE_UID},gid=${DOCKER_COMPOSE_GID}
    security_opt:
      - no-new-privileges:false

  app-prometheus-exporter:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: template
    container_name: ${DOCKER_COMPOSE_APP_NAME}-app-prometheus-exporter
    build:
      dockerfile: ./external/unbound-prometheus-exporter/Dockerfile
    volumes:
      - ./app-data/unbound-sock:/homelab/sock:rw

  certificator:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: certificator

  apache:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: apache
    volumes:
      - ./app-secrets/prometheus.htpasswd:/homelab/users/prometheus.htpasswd:ro
      - ./app-secrets/users-viewers.htpasswd:/homelab/users/users-viewers.htpasswd:ro
      - ./app-secrets/users-admins.htpasswd:/homelab/users/users-admins.htpasswd:ro

  apache-prometheus-exporter:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: apache-prometheus-exporter

  favicons:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: favicons

  empty-server:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: empty-server

networks:
  default:
    driver: none
  internal-network:
    name: ${DOCKER_COMPOSE_APP_NAME}-internal-network
    driver: bridge
    internal: true
  external-network:
    name: ${DOCKER_COMPOSE_APP_NAME}-external-network
    driver: bridge
    internal: false
