x-definitions:
  common-service-options: &common-service-options
    restart: "no"

services:
  app:
    <<: *common-service-options
    environment:
      MANAGE_HTTP_PORT: 8080
      MANAGE_HTTPS_PORT: 8443
      PORTAL_HTTP_PORT: 8081
      PORTAL_HTTPS_PORT: 8444
    ports:
      - 127.0.0.1:19810:19810/udp
      - 127.0.0.1:27001:27001/udp
      - 127.0.0.1:29810:29810/udp
      - 127.0.0.1:29811-29817:29811-29817

  certificator:
    <<: *common-service-options

  apache:
    <<: *common-service-options
    ports:
      - 127.0.0.1:8080:80
      - 127.0.0.1:8443:443

  apache-prometheus-exporter:
    <<: *common-service-options

  favicons:
    <<: *common-service-options
