x-definitions:
  common-env-variables: &common-env-variables
    HOMELAB_ENV: dev
    HOMELAB_APP_EXTERNAL_DOMAIN: localhost
    HOMELAB_APP_EXTERNAL_IP: "127.0.0.1"
    HOMELAB_APP_EXTERNAL_URL: https://localhost
  common-service-options: &common-service-options
    environment:
      <<: *common-env-variables
    restart: "no"

services:
  app:
    <<: *common-service-options
    hostname: pihole.localhost # This fixes random container hostname in dashboard header
    environment:
      <<: *common-env-variables
      FTLCONF_PRIVACYLEVEL: "0"
      # FTLCONF_LOCAL_IPV4: "127.0.0.1"
      # VIRTUAL_HOST: localhost
      # PIHOLE_DOMAIN: localhost
    ports:
      - 127.0.0.1:8053:53/tcp
      - 127.0.0.1:8053:53/udp

  app-setup:
    <<: *common-service-options

  prometheus-exporter:
    <<: *common-service-options

  certificate-manager:
    <<: *common-service-options

  http-proxy:
    <<: *common-service-options
    ports:
      - 127.0.0.1:8080:80
      - 127.0.0.1:8443:443

  http-proxy-prometheus-exporter:
    <<: *common-service-options
