x-definitions:
  common-env-variables: &common-env-variables
    HOMELAB_ENV: prod
    HOMELAB_APP_EXTERNAL_DOMAIN: ${DOCKER_COMPOSE_NETWORK_DOMAIN}
    HOMELAB_APP_EXTERNAL_IP: ${DOCKER_COMPOSE_NETWORK_IP}
    HOMELAB_APP_EXTERNAL_URL: https://${DOCKER_COMPOSE_NETWORK_DOMAIN}
  common-service-options: &common-service-options
    environment:
      <<: *common-env-variables
    restart: unless-stopped

services:
  app:
    <<: *common-service-options
    hostname: ${DOCKER_COMPOSE_NETWORK_DOMAIN} # This fixes random container hostname in dashboard header
    environment:
      <<: *common-env-variables
      FTLCONF_LOCAL_IPV4: ${DOCKER_COMPOSE_NETWORK_IP}
      FTLCONF_PRIVACYLEVEL: "0"
      VIRTUAL_HOST: ${DOCKER_COMPOSE_NETWORK_DOMAIN}
    ports:
      - ${DOCKER_COMPOSE_NETWORK_IP}:53:53/tcp
      - ${DOCKER_COMPOSE_NETWORK_IP}:53:53/udp
    networks:
      external-network:

  app-setup:
    <<: *common-service-options

  prometheus-exporter:
    <<: *common-service-options

  certificate-manager:
    <<: *common-service-options

  http-proxy:
    <<: *common-service-options
    ports:
      - ${DOCKER_COMPOSE_NETWORK_IP}:80:80
      - ${DOCKER_COMPOSE_NETWORK_IP}:443:443
    networks:
      external-network:

networks:
  external-network:
    name: ${DOCKER_COMPOSE_APP_NAME}-external-network
    driver: bridge
    internal: false
