services:
  app:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: app
    build:
      dockerfile: ./custom/certbot/Dockerfile
    env_file:
      - ./app-secrets/app.env
    volumes:
      - ./app-data/certbot:/homelab/data:rw
      - ./app-data/certs:/homelab/certs:rw
      - ./app-logs/certbot:/homelab/logs:rw
      - ./app-logs/letsencrypt:/var/log/letsencrypt:rw
    # Internet access required for getting new Let's encrypt certificate
    networks:
      internal-network: {}
      external-network: {}
    tmpfs:
      - /etc/letsencrypt:rw,noexec,nodev,noatime,nodiratime,uid=${DOCKER_COMPOSE_UID},gid=${DOCKER_COMPOSE_GID}
      - /homelab/.status:rw,noexec,nodev,noatime,nodiratime,uid=${DOCKER_COMPOSE_UID},gid=${DOCKER_COMPOSE_GID}
      - /var/lib/letsencrypt:rw,noexec,nodev,noatime,nodiratime,uid=${DOCKER_COMPOSE_UID},gid=${DOCKER_COMPOSE_GID}

  apache:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: apache
    volumes:
      - ./app-data/certbot:/homelab/www/download:rw
      - ./app-secrets/users-admins.htpasswd:/homelab/users/users-admins.htpasswd:ro
      - ./app-secrets/users-viewers.htpasswd:/homelab/users/users-viewers.htpasswd:ro

  apache-prometheus-exporter:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: apache-prometheus-exporter

  favicons:
    extends:
      file: ${DOCKER_COMPOSE_REPOROOT_PATH}/docker-compose/.shared/compose.yml
      service: favicons

networks:
  default:
    driver: none
  internal-network:
    name: ${DOCKER_COMPOSE_APP_NAME}-internal-network
    driver: bridge
    internal: true
  external-network:
    name: ${DOCKER_COMPOSE_APP_NAME}-external-network
    driver: bridge
    internal: false
