# This file is an example for use during local debugging
# Copy to `.env` and customize to use

HEADLESS=0
HOMELAB_APP_TYPE=
HOMELAB_APP_PASSWORD=
HOMELAB_APP_USERNAME=admin
HOMELAB_BASE_URL=https://localhost:8443
