x-definitions:
  common-env-variables: &common-env-variables
    HOMELAB_ENV: dev
    HOMELAB_APP_EXTERNAL_DOMAIN: localhost
    HOMELAB_APP_EXTERNAL_IP: "127.0.0.1"
    HOMELAB_APP_EXTERNAL_URL: https://localhost
  common-service-options: &common-service-options
    environment:
      <<: *common-env-variables
    restart: "no"

services:
  app:
    <<: *common-service-options
    environment:
      <<: *common-env-variables
      SAMBA_TITLE: samba.localhost
    volumes:
      - ./app-data/samba-data:/data:rw
    ports:
      - 127.0.0.1:8139:139
      - 127.0.0.1:8445:445
