x-definitions:
  common-service-options: &common-service-options
    restart: "no"

services:
  app:
    <<: *common-service-options
    volumes:
      - ./app-data/samba-data:/data:rw
    ports:
      - 127.0.0.1:8139:139
      - 127.0.0.1:8445:445

  certificator:
    <<: *common-service-options

  apache:
    <<: *common-service-options
    ports:
      - 127.0.0.1:8080:80
      - 127.0.0.1:8443:443

  apache-prometheus-exporter:
    <<: *common-service-options

  favicons:
    <<: *common-service-options

  empty-server:
    <<: *common-service-options
