x-definitions:
  common-service-options: &common-service-options
    restart: unless-stopped

services:
  app:
    <<: *common-service-options
    volumes:
      - ${DOCKER_COMPOSE_SAMBA_PATH}:/data:rw
    ports:
      - ${DOCKER_COMPOSE_NETWORK_IP}:139:139
      - ${DOCKER_COMPOSE_NETWORK_IP}:445:445

  certificator:
    <<: *common-service-options

  apache:
    <<: *common-service-options
    ports:
      - ${DOCKER_COMPOSE_NETWORK_IP}:80:80
      - ${DOCKER_COMPOSE_NETWORK_IP}:443:443

  apache-prometheus-exporter:
    <<: *common-service-options

  favicons:
    <<: *common-service-options

  file-server:
    <<: *common-service-options
